
<script src="/javascripts/jQuery-2.1.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.bootstrap-autohidingnavbar.min"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>