<%- include header %>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <form role="form">
                    <fieldset>
                        <div>
                            <select>
                                <option selected>-请选择专业-</option>
                                <option>妖哥专业</option>
                                <option>妖弟专业</option>
                                <option>妖帝专业</option>
                            </select>
                        </div>
                        <div >
                            <label>
                                <input name="remember" type="radio"checked="checked" value="男">男
                                <input name="remember" type="radio" value="女">女
                            </label>
                        </div>
                        <a href="#" class="btn btn-lg btn-success btn-block">保存</a>

                    </fieldset>
                </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>

<%- include footer %>
